html, body {
    margin: 0px;
    height:100%;
    background-color: rgb(244,244,244);
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 36px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 40px;
}

a {
    color: black;
}

input, select {
    font-size: 14px;
    background-color: rgb(244,244,244);
}

#avg-num {
    width: 40px;
}

#frame {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

#frame-inner {
    flex: 700px;
    width: 700px;
    justify-content: stretch;
}

#charts {
    margin: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#controls {
    margin: 20px;
    justify-content: stretch;
}

#title {
    top: 20px;
    background-color: rgb(244,244,244);
}

.legend {
    font-weight: 700;
    display: inline;
    vertical-align: top;
}

.checkbox-list {
    vertical-align: top;
    display: inline-block;
}

.secondary {
    padding-top: 20px;
}

#charts {
    margin: 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.charts-chart {
    margin-top: 40px;
    height: 600px;
}

.highcharts-legend-item .highcharts-point {
    stroke-width: 1px;
    stroke: rgba(220,245,231,0.65);
}

.bottom-margin {
    margin-bottom: 20px;
}

.highcharts-legend-item.highcharts-series-0 .highcharts-point,
.highcharts-legend-item.highcharts-series-1 .highcharts-point,
.highcharts-legend-item.highcharts-series-2 .highcharts-point {
    stroke-width: 1px;
    stroke: rgba(141,0,31,0.65);
}

.invalid {
    background-color: rgb(255, 140, 140);
}

.hidden {
    display: none;
}